#https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.21.zip
TgCrypto
pyrofork
pillow
PyMuPdf
PyPDF2
convertapi
pyromod
fpdf2
ocrmypdf
motor
psutil
pymongo
hachoir
pyTelegramBotAPI
aiohttp
aspose-words
pdfkit
beautifulsoup4
requests
arabic-reshaper
python-bidi
flask
gunicorn
